/*! 版权所有，翻版必究 */
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}
.oh {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  clear: both;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.hide {
  display: none;
}
.message-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.message-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.message-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.message-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}
.bpmn-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 300px;
}
.bpmn-animate-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f06;
  position: relative;
  z-index: 9999;
}
