.wrap {
  width: 320px;
  margin: 0 auto;
}

.wrap h1 {
  text-align: center;
}

.wrap h4 {
  font-weight: bold;
  background: #eee;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

h4 span {
  cursor: pointer;
}

h4 .number {
  float: right;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

ul {
  padding-left: 0;
  margin-top: 10px;
}

li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 36px;
  transition: all 300ms;
  overflow: hidden;
}

li .item-content {
  display: block;
  float: left;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul:nth-of-type(2) .item-content, ul:nth-of-type(3) .item-content {
  width: 290px;
}

li:hover {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.icon-del {
  border: 1px solid;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 21px;
  text-align: center;
  line-height: 20px;
  float: right;
  position: relative;
  top: 6px;
  transition: all 300ms;
}

.icon-del:hover {
  background: #ddd;
}

input[type="checkbox"] {
  margin-right: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
  top: 6px;
}
