.wrap {
	width: 320px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	line-height: 80px;
}

.icon-logo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px dashed #ccc;
}

.wrap div {
  margin-bottom: 20px;
}

.share-btn {
  width: 100%;
}
